/* Seletores Hierárquicos */
/* Seleciona todos os parágrafos que são descendentes da div com a classe "container" */
.container p {
    color: rgb(74, 74, 228);
    }
    /* Seleciona apenas parágrafos que são filhos diretos da div com a classe "container" */
    .container > p {
    font-weight: bold;
    color: cadetblue;
    }
    /* Seleciona o parágrafo que vem imediatamente após uma div dentro da div com a classe
    "container" */
    .container div + p {
    text-decoration: underline;
    color: rgb(111, 53, 220);
    }
    /* Seletores de Atributo */
/* Seleciona o campo input do
tipo texto */
input[type="text"] {
    border: 2px solid;
    }
    /* Pseudo-classes */
    /* Altera a cor do link quando
    o mouse estiver sobre ele */
    input[type="password"] {
        border: 2px solid black; 
    }
    a:hover {
    color: rgb(238, 80, 212);
    }
    /* Pseudo-elementos */
    /* Utiliza duas vezes os dois pontos :: */
    .container::before {
    content: '"';
    font-size: 40px; /* Torna as aspas
    maiores que o texto da citação */
    position: absolute;
    }
    .container::before {
    top: 0;
    left: 0px; /* Posiciona a aspa de
    abertura no lado esquerdo */
    }