.relative-box {
    position: relative;
    top: 51px;
    left: 50px;
    background-color: lightblue;
    width: 150px;
    }
    .absolute-box {
    position: absolute;
    top: 690px;
    left: 60px;
    background-color: rgb(214, 221, 88);
    width: 150px;
    }
    .fixed-box {
    position: fixed;
    bottom: 10px;
    left: 60px;
    top: 660;
    background-color: lightgreen;
    width: 150px;
    }
    .sticky-box {
    position: sticky;
    top: 700px;
    left: 60px;
    background-color: rgb(204, 204, 98);
    width: 150px;
    }
    .float-container {
        width: 70%;
        margin: 0 auto;
        border: 1px solid black;
        overflow: auto; /* Garante que o contêiner
        encapsule o elemento flutuante */
        }
        .float-box {
        float: right;
        margin-right: 20px;
        background-color: rgb(79, 172, 93);
        width: 100px;
        height: 100px;}

        .clear-box {
            clear: left;
            background-color: rgb(184, 219, 241);
            }
            .z-index-box1 {
                position: absolute;
                top: 100px;
                right: 1000px;
                background-color: rgba(223, 227, 113, 0.959);
                /* lightblue com opacidade */
                z-index: 1;
                width: 200px;
                height: 200px;
                
                }
                .z-index-box2 {
                position: absolute;
                top: 100px;
                right: 700px;
                background-color: rgba(71, 137, 223, 0.932);
                /* lightcoral com opacidade */
                z-index: 2;
                width: 200px;
                height: 200px;
                }
                .z-index-box3 {
                    position: absolute;
                    top: 100px;
                    right: 400px;
                    background-color: darkseagreen;
                    z-index: 3;
                    width: 200px;
                    height: 200px;

                }
                
                h1 {color: darkgreen;}
                h2 {
                    color: cornflowerblue;
                }
                body {background-color: rgb(253, 255, 218);}
                h3 {
                    color: forestgreen;
                }